body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #ccc;
}

main{
    flex: 1 0 auto;
  width: 80%;
  margin: 0px auto;
}

.thumbnails{
  width: 30%;
  float: left;
  margin: 15px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.thumbnails img{
  width: 100%;
  height: auto;
}
